*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-image: url('123-1235712_hd-wallpaper-4k-minimalist-wallpaper-phone.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: #fff;
}
.header
{
    font-size: 40px;
    text-align: center;
    padding:10px;
    background: rgba(0, 0, 0, 0.844);
    width:100%;
}
.hint
{
    font-size: 20px;
    text-align: center;
    margin: 20px ;
    padding: 11px;
}
.word
{
    margin: 10px;
    padding: 20px;
    font-size: 70px;
    text-align: center;
}
.input
{
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 30px;
    font-size: 20px;
}
.start
{
    position: relative;
    left: 36%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.636);
    color: #fff;
    margin: 20px;
    font-size: 20px;
    border-style: none;
}
.start:hover
{
    background-color: rgb(0, 0, 0);
}

.result
{
    border-style: hidden;
    background: rgba(0, 0, 0, 0.76);
    padding: 20px;
    margin: 10px 50px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
}
.rules
{
    margin: 20px 0px ;
    padding:0px;
    font-size: 20px;
    background: rgb(80, 79, 79);
    padding: 10px;
    color:rgb(255, 255, 255);
    width: 100%;
}
.rules1
{
    text-align: center;
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
    font-size: 30px;
}
.rules2
{
    margin: 20px 10px ;
    padding: 10px;
    text-align: center;
}
.message1
{
    text-align: center;
    font-size: 30px;
    color:yellow;
}
#gameover
{
    position: absolute;
    left: 1%;
    top: 20%;
    width: auto;
    font-size: 70px;
    background-color: rgb(51, 37, 37);
    padding: 20px;
    border-radius: 50px;
    text-align: center;
}
.stop
{
    font-size: 20px;
    padding:10px;
    border-radius: 15px;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.397);
    border-style: none;
}